    body {
        min-height: 100vh;
        background-color: #f0f2f5;
        margin: 0;
        color: #1c1e21;
    }

        .navbar {
            width: 97%;
            margin: 15px auto 0 auto;
            margin-bottom: 20px;
        }

    .title {
        margin-top: 40px;
        text-align: center;
        color: #0d6efd;
    }

    .form-wrapper {
        margin-top: 30px;        
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .form-wrapper form {
        background: white;
        padding: 25px;
        border-radius: 12px;
        width: 100%;
        max-width: 500px;         
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }

    .form-wrapper input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

    .form-wrapper button {
        width: 100%;
        padding: 10px;
        background-color: #0d6efd;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
    }

    .form-wrapper button:hover {
        background-color: #0b5ed7;
    }

    .form-wrapper select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.form-wrapper select:focus {
    outline: none;
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}
